.theme-btn,
.theme-btn-s2,
.theme-btn-s3 {
	background: $theme-primary-color-s2;
	color: $black;
	display: inline-block;
	padding: 20px 50px;
	border: 0;
	text-transform: capitalize;
	-webkit-backface-visibility: hidden;
	z-index: 1;
	position: relative;
	font-family: $base-font;
	font-size: 16px;
	border-radius: 11px;
	box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.12) inset;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 90%;
	text-transform: capitalize;
	overflow: hidden;
	padding-right: 72px;

	&::after {
		background-color: #5C7A55;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transform: scaleY(0);
		transform-origin: bottom left;
		transition: transform .5s cubic-bezier(.86, 0, .07, 1);
		transition-timing-function: cubic-bezier(.86, 0, .07, 1);
		width: 100%;
		z-index: -1;
	}

	&::before {
		position: absolute;
		right: 42px;
		top: 50%;
		transform: translateY(-50%);
		content: '';
		background-image: url(../../images/right-arrow.svg);
		background-size: contain;
		background-repeat: no-repeat;
		width: 17.684px;
		height: 13.073px;
		transition: all .3s;

		@include media-query(767px) {
			right: 18px;
		}
	}

	&:hover,
	&:focus,
	&:active {
		color: $black;

		&::before {
			right: 37px;

			@include media-query(767px) {
				right: 16px;
			}
		}
	}

	&:hover {
		&::after {
			transform-origin: top right;
			transform: scale(1);
		}
	}

	@include media-query(991px) {
		font-size: 14px;
	}

	@include media-query(767px) {
		padding: 12px 18px;
		font-size: 14px;
		padding-right: 40px;
	}
}

.theme-btn-s2 {
	background-color: $theme-primary-color;
	color: $white;

	&::before {
		background-image: url(../../images/right-arrow2.svg);
	}

	&::after {
		background-color: darken($theme-primary-color, 5);
	}

	&:hover,
	&:focus,
	&:active {
		color: $white;
	}
}

.theme-btn-s3 {
	background: transparent;
	box-shadow: none;
	padding-left: 30px;

	&:after {
		display: none;
	}
}

.view-cart-btn {
	@extend .theme-btn;
	display: block;
	margin-top: 15px;
	border-radius: 5px;
	padding: 10px 45px;

	&:after {
		display: none;
	}

	&:hover {
		background-color: darken($theme-primary-color, 8%);
	}

	&.s1 {
		background: #ddd;

		&:hover {
			background-color: darken(#ddd, 8%);
		}
	}

}
